<!--

<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container"><a class="navbar-brand" routerLink="">About Me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a routerLink="personals" routerLinkActive="active" class="nav-link">Personal</a></li>
        <li class="nav-item"><a routerLink="educations" routerLinkActive="active" class="nav-link">Education</a></li>
        <li class="nav-item"><a routerLink="works" routerLinkActive="active" class="nav-link">Work</a></li>
        <li class="nav-item"><a routerLink="projects" routerLinkActive="active" class="nav-link">Projects</a></li>
        <li class="nav-item"><a routerLink="contacts" routerLinkActive="active" class="nav-link">Contacts</a></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="register" *ngIf="!isLoggedIn()">register</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="login" *ngIf="!isLoggedIn()">login</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn()">{{getUserName()}}</a></li>
        <li class="nav-item"><a class="nav-link btn" (click)="doLogout()" *ngIf="isLoggedIn()">logout</a></li>
      </ul>
    </div>
  </div>
</nav>



<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">About Me</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMain" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarMain" style>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="personals" routerLinkActive="active" class="nav-link">Personal</a>
          
            <a routerLink="educations" routerLinkActive="active" class="nav-link">Education</a>
            <a routerLink="works" routerLinkActive="active" class="nav-link">Work</a>
            <a routerLink="projects" routerLinkActive="active" class="nav-link">Projects</a>
            <a routerLink="contacts" routerLinkActive="active" class="nav-link">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<nav class="navbar fixed-top navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand"  routerLink="">About Kats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container">
      <div class="navbar-collapse collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="personals">Personal</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="education">Education</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="works">Work</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="contacts">Contacts</a></li>
        </ul>
      </div>
    </div>
</nav>
-->

<nav class="navbar fixed-top navbar-expand-md navbar-light">
	<div class="container">
		<a class="navbar-brand" routerLink="">About Kat</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMain">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<div class="container">
		<div class="navbar-collapse collapse" id="navbarMain">
			<ul class="navbar-nav mr-auto">
        <li class="nav-item"><a routerLink="personals" routerLinkActive="active" class="nav-link">  personal</a></li>
        <li class="nav-item"><a routerLink="educations" routerLinkActive="active" class="nav-link">  education</a></li>
        <li class="nav-item"><a routerLink="works" routerLinkActive="active" class="nav-link">  work</a></li>
        <li class="nav-item"><a routerLink="projects" routerLinkActive="active" class="nav-link">  projects</a></li>
        <li class="nav-item"><a routerLink="contacts" routerLinkActive="active" class="nav-link">  contacts</a></li>
			</ul>
			<ul class="navbar-nav navbar-right">
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="register" *ngIf="!isLoggedIn()">  register</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="login" *ngIf="!isLoggedIn()">  login</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn()">{{getUserName()}}</a></li>
        <li class="nav-item"><a class="nav-link btn" (click)="doLogout()" *ngIf="isLoggedIn()">logout</a></li>
			</ul>
		</div>
	</div>
</nav>
