<h4>
  Welcome to my Profile!
</h4>
<p>
  Hi, my name is Katlego! I’m a qualified Software Engineer with an extreme passion for developing applications that run on the web. The platforms I'm most comfortable with are the Javascript-based MEAN stack of technologies and Microsoft’s ASP.NETCore framework. My specific area of interest is in applying web technologies to solve a myriad of business process automation challenges. Some of the projects I’ve worked on include an automatic quotation and invoicing system, a personal profile application as well as a payroll application. To checkout my qualifications, work experience and contact details, navigate through my profile.
</p>