extends layout 

block content 
  .row.banner 
    .col-12 
      h1= pageHeader.title 
        small &nbsp; #{pageHeader.strapline} 
  .row 
    .col-12.col-md-8 
      block main_content 
    .col-12.col-md-4 
      p.lead= sideBar.context 
      p.small= sideBar.callToAction