extends content-layout

block main_content
  .row 
    .col-12.col-lg-8
       p ppApp was created to help people put pap on the table by securing employment. This is done by helping people create personal profiles that are easily printed or updated
