<footer class="top">
   <div class="row">
     <div class="col-12">
      <div *ngFor="let contact of contacts" style="text-align: center">
        <div style="font-size:2.1em;">
          <p >
            <a class="space" href="{{contact.facebook}}"><i class="wide fa-brands fa-facebook"></i></a>
            <a class="space" href="{{contact.instagram}}"><i class="wide fa-brands fa-instagram"></i></a>
            <a class="space" href="{{contact.twitter}}"><i class="wide fa-brands fa-twitter"></i></a>
            <a class="space" href="{{contact.twitter}}"><i class="wide fa-brands fa-linkedin"></i></a>
          </p>
        </div>  
      </div>
         <small>© ppApp - Mightyrelo Software 2023</small>
      </div>
    </div>
</footer>

